.bsp/
.git/
.webpack_cache/
assets/node_modules/
public/

.dockerignore
.env*
!.env.example
docker-compose.override.yml
docker-compose.yml
Dockerfile
.DS_Store

logs/
project/project
project/target
tmp
.history
build
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
target
